.main {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.main img{
    width: 16vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);;
}
.marquee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-family: 'SUD';
  
  }
  
  .marqueeText {
    display: inline-block;
    font-size: 4rem;
    color: black;
    animation: marquee 600s linear infinite;
    
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }