@font-face {
  font-family: 'k';
  src: url('/fonts/Sud.woff2') format('woff2');
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.main img{
    width: 16vw;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);;
    transition: left 0.1s ease-out, top 0.1s ease-out; /* Smooth movement */
}
.marquee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-family: 'k';
    font-weight: bolder;
  
  }
  
  .marqueeText {
    display: inline-block;
    font-size: 8rem;
    color: black;
    animation: marquee 600s linear infinite;
    
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @media (max-width: 575px) {
    .main img {
        width: 30vw; /* Even larger on extra small devices */
    }
    .main{
      overflow: hidden;
      height: 95vh;
    }
    .header{
      width: 91%;
    }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  z-index: 1000;
}

.logo {
  margin-left: 1%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'k';
  color: rgb(0, 0, 0);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: 'k';
}